/* custom styles */

.container {
  text-align: center;
  max-width: 300px;
}

.instruction-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

.instruction {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 5rem;
}

.experiment-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

input{
  text-align: center;
  border: 5px solid;
  padding: 13px 12px;
  font-size: 16px;
  outline: none;
  margin-bottom: 20px;
}

ul{
  margin-left: 20px;
  text-align: left;
}/* custom styles */
